.sliderBody {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.item {
  width: 160px;
  height: 250px;
  list-style-type: none;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.2s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}
.item:nth-child(1) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
}
.item:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
  filter: drop-shadow(16px 16px 20px red) invert(15%);
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.item:nth-child(3) {
  left: 50%;
}
.item:nth-child(4) {
  left: calc(50% + 180px);
}
.item:nth-child(5) {
  left: calc(50% + 360px);
}
.item:nth-child(6) {
  left: calc(50% + 540px);
}
.item:nth-child(n + 7) {
  display: none;
}

.content {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
}
.title {
  color: rgb(228, 67, 67);
  font-family: "arial-black";
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
}

.buttonSlider {
  border: 2px;
  border-color: aliceblue;
  background-color: rgba(255, 0, 0, 0.654);
  padding: 10px;
}
.description {
  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  font-size: 0.8rem;
  max-height: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  display: flex;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
}
.btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 0.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 650px) {
  .title {
    font-size: 0.9rem;
  }
  .description {
    font-size: 0.65rem;
  }
  .button {
    font-size: 0.7rem;
  }
  .item {
    width: 130px;
    height: 220px;
  }
  .item:nth-child(3) {
    left: 50%;
  }
  .item:nth-child(4) {
    left: calc(50% + 140px);
  }
  .item:nth-child(5) {
    left: calc(50% + 280px);
  }
  .item:nth-child(6) {
    left: calc(50% + 420px);
    opacity: 0;
  }
}
