.navigationHeader{
    width: 100%;
    height: 75px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: transparent;
    z-index: 100;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.linksHead{
    display: flex;
    padding: 0px 10px;
    margin : 5px;
}

.links{
    padding: 0px 15px;
    color: white;
}

.navButton {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #fd5e53;
    background: rgba(255, 0, 0, 0.693);
}

.navButton:hover {
    scale: 1.05;
}

.navButton:active {
    background: rgba(255, 0, 0, 0.8);
    transform: scale(0.95);
}
.links:hover{
    color: rgba(255, 0, 0, 0.693);
    transition: all 0.4s ease-in-out 0.1s;
}